@import url('https://fonts.googleapis.com/css2?family=Gabarito&family=Montserrat:wght@200;400&family=Outfit:wght@100&family=Raleway:wght@500&family=Roboto&family=Roboto+Mono:wght@200&display=swap');

.col-img {
    background-image: url(showcase.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.bg-primary {
    background: #fff !important;
    font-family: Montserrat, sans-serif;
}

.d-flex {
    display: flex;
    justify-content: space-between;
}

#mainfooter {
    margin-top: 200px;
}

#mainfooter .social i {
    padding-right: 20px;
    
}

.flex-box {
    font-size: 12px;
}

.flex-box h2 {
    font-size: 20px;
}

.flex-box a i {
    color: rgb(75, 75, 75); 
}

.pb-6 {
    padding-bottom: 200px;
}

@media (max-width: 768px) {
    .pb-6{
        padding-bottom: 80px;
    }
    .text-black {
        color: #fff !important;
    }
    .bg-primary {
        background: #303237 !important;
    }
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
    #mainfooter {
      margin-top: 80px;
    }
    #mainfooter .container {
      flex-direction: column;
    }
    .flex-box {
      text-align: center;
    }
    .flex-box h2 {
      font-size: 15px;
    }
    .flex-box a {
        padding-left: 10%;
    }
  }