@import url('https://fonts.googleapis.com/css2?family=Gabarito&family=Montserrat:wght@200;400&family=Outfit:wght@100&family=Raleway:wght@500&family=Roboto&family=Roboto+Mono:wght@200&display=swap');

.col-img {
    background-image: url(showcase.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.bg-primary {
    background: #fff !important;
    font-family: Montserrat, sans-serif;
}

.pb-6 {
    padding-bottom: 200px;
}

@media (max-width: 768px) {
    .pb-6{
        padding-bottom: 80px;
    }
    .text-black {
        color: #fff !important;
    }
    .bg-primary {
        background: #303237 !important;
    }

}